<table border="1" cellspacing="0" width="100%" cellpadding="2">
<tr>
  <th colspan="4">Pedido: #<%= @pedido.id %> - <%= @pedido.status %></th>
</tr>
<% if @pedido.pedido_para_empresa? %>
<tr>
  <th colspan="4">Dados da empresa</th>
</tr>
<tr>
  <td width="20%" align="right">Nome fatansia</td>
  <td width="30%"><%= @pedido.nome_fantasia %></td>
  <td width="20%" align="right">Razão Social</td>
  <td width="30%"><%= @pedido.razao_social %></td>
</tr>
<tr>
  <td align="right">Inscrição Estadual</td>
  <td><%= @pedido.inscricao_estadual %></td>
  <td align="right">CNPJ</td>
  <td><%= @pedido.cnpj %></td>
</tr>

<tr>
  <td align="right">Telefone</td>
  <td><%= @pedido.telefone_empresa %></td>
  <td align="right">Site</td>
  <td><%= @pedido.site %></td>
</tr>

<tr>
  <td align="right">Ramo atividade</td>
  <td colspan="3"><%= @pedido.ramo_atividade %></td>
</tr>
<% end -%>
<tr>
  <th colspan="4">Dados do comprador</th>
</tr>
<tr>
  <td width="20%" align="right">Nome</td>
  <td width="30%"><%= @pedido.nome %></td>
  <td width="20%" align="right">E-mail</td>
  <td width="30%"><%= @pedido.email %></td>
</tr>
<tr>
  <td align="right">Profissão</td>
  <td><%= @pedido.profissao %></td>
  <td align="right">CPF</td>
  <td><%= @pedido.cpf %></td>
</tr>

<tr>
  <td align="right">Telefone 1</td>
  <td><%= @pedido.telefone_1 %></td>
  <td align="right">Telefone 2</td>
  <td><%= @pedido.telefone_2 %></td>
</tr>

<tr>
  <td align="right">Celular</td>
  <td><%= @pedido.celular %></td>
  <td align="right">Data de nascimento</td>
  <td><%= @pedido.data_nascimento.strftime("%d/%m/%Y") %></td>
</tr>

<tr>
  <td align="right">Sexo</td>
  <td colspan="3"><%= @pedido.sexo %></td>
</tr>

<tr>
  <th colspan="4">Endereço</th>
</tr>

<tr>
  <td align="right">CEP</td>
  <td><%= @pedido.cep %></td>
  <td align="right">Endereço</td>
  <td><%= @pedido.endereco %></td>
</tr>

<tr>
  <td align="right">Número</td>
  <td><%= @pedido.numero %></td>
  <td align="right">Complemento</td>
  <td><%= @pedido.complemento %></td>
</tr>

<tr>
  <td align="right">Bairro</td>
  <td><%= @pedido.bairro %></td>
  <td align="right">Cidade</td>
  <td><%= @pedido.cidade %></td>
</tr>

<tr>
  <td align="right">Estado</td>
  <td colspan="3"><%= @pedido.estado %></td>
</tr>

<tr>
  <th colspan="4">Endereço de entrega</th>
</tr>

<tr>
  <td align="right">CEP</td>
  <td><%= @pedido.entrega_cep %></td>
  <td align="right">Endereço</td>
  <td><%= @pedido.entrega_endereco %></td>
</tr>

<tr>
  <td align="right">Número</td>
  <td><%= @pedido.entrega_numero %></td>
  <td align="right">Complemento</td>
  <td><%= @pedido.entrega_complemento %></td>
</tr>

<tr>
  <td align="right">Bairro</td>
  <td><%= @pedido.entrega_bairro %></td>
  <td align="right">Cidade</td>
  <td><%= @pedido.entrega_cidade %></td>
</tr>

<tr>
  <td align="right">Estado</td>
  <td colspan="3"><%= @pedido.entrega_estado %></td>
</tr>

<tr>
  <th colspan="4">Informações do pedido</th>
</tr>
<tr>
  <td align="right">Identificador no pagseguro</td>
  <td><strong><%= @pedido.pagseguro_id %></strong></td>
  <td align="right">Total</td>
  <td><strong><%= @pedido.total.real_contabil %></strong></td>
</tr>
<tr>
  <td align="right">Situação</td>
  <td colspan="3"><strong><%= @pedido.status %></strong></td>
</tr>
</table>

<a href="javascript:window.print()">Imprimir</a>