<%= simple_form_for([:admin,@admin_banner], :html => {:multipart => true}) do |f| %>
<div class="module_content">
  <fieldset>
    <%= f.input :imagem %>
  </fieldset>
  <% unless @admin_banner.new_record? -%>
    <%= image_tag @admin_banner.imagem.url(:thumb) %>
  <% end -%>
  <fieldset>
    <%= f.input :descricao %>
  </fieldset>
  <fieldset>
    <%= f.input :url, :input_html => {:type => :text} %>
  </fieldset>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>
