<%
title 'Lista de banners'
breadcrumbs([
  {:text => 'Lista de banners'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de banners </h3>
    
  </header>
  <%=button_new('Criar banner',new_admin_banner_path)%>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th width="100"></th>
        <th class="header">Descrição</th> 
        <th class="header">Url</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @admin_banners.each do |admin_banner| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= image_tag admin_banner.imagem.url(:thumb) %></td>
        <td><%= admin_banner.descricao %></td> 
        <td><%= admin_banner.url %></td> 
        <td><%= actions_common(admin_banner)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @admin_banners%>
</article>
