<%
title 'banners - Novo banner'
breadcrumbs([
  {:text => 'banners', :url => admin_banners_path},
  {:text => 'Novo banner'},
])
%>
<article class="module width_full">
  <header><h3>Novo banner</h3></header>
  <%= render 'form' %>
</article>
