<%
title 'Galerias - Nova Galeria'
breadcrumbs([
  {:text => 'Galerias', :url => admin_galerias_path},
  {:text => 'Nova Galeria'},
])
%>
<article class="module width_full">
  <header><h3>Nova Galeria</h3></header>
  <%= render 'form' %>
</article>
