<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @admin_galeria.nome %>
</p>

<p>
  <b>Conteudo:</b>
  <%= @admin_galeria.conteudo %>
</p>


<%= link_to 'Edit', edit_admin_galeria_path(@admin_galeria) %> |
<%= link_to 'Back', admin_galerias_path %>
