<%
title 'parametros - Alterando parametro'
breadcrumbs([
  {:text => 'Parâmetros', :url => edit_admin_parametro_path(:atual)},
  {:text => 'Alterando parametro'},
])
%>
<article class="module width_full">
  <header><h3>Alterando parametro</h3></header>
  <%= render 'form' %>
</article>
