<h1>Listing admin_parametros</h1>

<table>
  <tr>
    <th>Taxa embalagem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_parametros.each do |admin_parametro| %>
  <tr>
    <td><%= admin_parametro.taxa_embalagem %></td>
    <td><%= link_to 'Show', admin_parametro %></td>
    <td><%= link_to 'Edit', edit_admin_parametro_path(admin_parametro) %></td>
    <td><%= link_to 'Destroy', admin_parametro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parametro', new_admin_parametro_path %>
