<p id="notice"><%= notice %></p>

<p>
  <b>Taxa embalagem:</b>
  <%= @admin_parametro.taxa_embalagem %>
</p>


<%= link_to 'Edit', edit_admin_parametro_path(@admin_parametro) %> |
<%= link_to 'Back', admin_parametros_path %>
