<!-- Breadcrumb -->
<div class="breadcrumb">
  <div class="breadcrumb_inner">
    <%= link_to 'Início', root_path %><span class="navigation-pipe">&gt;</span><span class="navigation_end"><%= link_to 'Carrinho de compras', carrinho_path %></span><span class="navigation-pipe">&gt;</span><span class="navigation_end">Dados do cliente</span>
  </div>
</div>
<!-- /Breadcrumb -->

<style type="text/css">
#juridica{
  display: none;
}

fieldset{
  margin: 20px 0;
}

label{
  display: block
}

div.field{
  margin-bottom: 15px;
  /*margin-left: 20px;*/
}

label.required{
  font-weight: bold;
}

fieldset h1{
  margin-bottom: 10px;
}

.error_messages *{
  color: #990000 !important;
}

.error_messages h2{
  font-size: 16px;
}

.error_messages p{
  font-size: 14px;
  margin-bottom: 4px;
}

.error_messages ul{
  list-style: circle;
  list-style-position: inside;
  margin-left:10px;
}

.field_with_errors input{
  border: 1px dashed #990000;
}

#pedido_estado,#pedido_entrega_estado{
  text-align: center;
}



</style>


<div id="order-detail-content" class="table_block">
  <table id="cart_summary" class="std">
    <thead>
      <tr>
        <th class="cart_product first_item">Produto</th>
        <th class="cart_description item">Descrição</th>
        <th class="cart_unit item">Preço unitário</th>
        <th class="cart_quantity item">Quantidade</th>
        <th class="cart_total last_item">Total</th>
      </tr>
    </thead>
    <tfoot>
      <tr class="cart_total_price">
        <td colspan="4">
            Sub-Total
        </td>
        <td class="price" id="total_price"><span class="price"><%= sub_total_compra.real_contabil %></span></td>
      </tr>
      <tr class="cart_total_price">
        <td colspan="4">
            Taxa de envio
        </td>
        <td class="price" id="total_price"><span class="price"><%= taxa_embalagem.real_contabil %></span></td>
      </tr>
      <tr class="cart_total_price">
        <td colspan="4">
            Total
        </td>
        <td class="price" id="total_price"><span class="price"><%= total_compra.real_contabil %></span></td>
      </tr>
    </tfoot>
    <tbody>
    <% carrinho_usuario.each do |item| %>
      <tr class=" cart_item">
        <td class="cart_product">
          <%= link_to imagem_produto(item[:id]), produto_path(item[:id]) %>
        </td>
        <td class="cart_description">
          <h5><a class="product_link" href="<%= produto_path(item[:id])%>"><%= nome_produto(item[:id], false)%></a></h5>
        </td>
        <td class="cart_unit">
          <span class="price" id="product_price_3_0"><%= Produto.find(item[:id]).valor_ou_promocao.real_contabil %></span>
        </td>
        <td class="cart_quantity">
          <div id="cart_quantity_button"><%= item[:qtd] %></div>
        </td>
        <td class="cart_total">
          <span class="price" id="total_product_price_3_0"><%= preco_produto(item[:valor] * item[:qtd])%></span>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
</div>

<h1>Informe seus dados</h1>

<p class="bold">
  Para realizar seu pedido necessitamos de algumas informações com intuito fiscal. Preencha todos os campos abaixo e clique em finalizar.<br />
  Os campos em NEGRITO são de preenchimento obrigatório.
</p>
<%= form_for @pedido, :url => efetuar_pagamento_path, :html => {:class => 'std pagamento', :method => :post} do |f| %>
  <fieldset>
    <%= f.error_messages %>

    <h1>Comprar como</h1>
    <div class="field">
      <%=f.radio_button :tipo_cliente, 0 %> <%= f.label :tipo_cliente, 'Pessoa física', :for => :pedido_tipo_cliente_0, :style => "display:inline;font-size:16px;font-weight:bold;" %>

      <%=f.radio_button :tipo_cliente, 1, :style => "margin-left:60px" %> <%= f.label :tipo_cliente, 'Pessoa jurídica', :for => :pedido_tipo_cliente_1, :style => "display:inline;font-size:16px;font-weight:bold" %>
    </div>

    <div id='juridica'>

      <h1>Dados da empresa</h1>
      <div class="field">
        <%= f.label :nome_fantasia, 'Nome fantasia', :class => 'required' %>
        <%= f.text_field :nome_fantasia, :size => 60 %>
      </div>

      <div class="field">
        <%= f.label :razao_social,'Razão social', :class => 'required' %>
        <%= f.text_field :razao_social, :size => 60 %>
      </div>

      <div class="field">
        <%= f.label :inscricao_estadual,'Inscrição estadual' %>
        <%= f.text_field :inscricao_estadual, :size => 60 %>
      </div>

      <div class="field">
        <%= f.label :cnpj, 'CNPJ', :class => 'required' %>
        <%= f.text_field :cnpj, :size => 20, :maxlength => 20 %>
      </div>

      <div class="field">
        <%= f.label :telefone_empresa, 'Telefone', :class => 'required' %>
        <%= f.text_field :telefone_empresa, :size => 14, :maxlength => 15 %>
      </div>

      <div class="field">
        <%= f.label :site %>
        <%= f.text_field :site, :size => 60 %>
      </div>

      <div class="field">
        <%= f.label :ramo_atividade %>
        <%= f.text_field :ramo_atividade, :size => 60 %>
      </div>


    </div>


    <h1>Dados do comprador</h1>
    <div class="field">
      <%= f.label :nome, 'Nome', :class => 'required' %>
      <%= f.text_field :nome, :size => 60 %>
    </div>

    <div class="field">
      <%= f.label :email,'E-mail', :class => 'required' %>
      <%= f.text_field :email, :size => 60 %>
    </div>

    <div class="field">
      <%= f.label :profissao,'Profissão' %>
      <%= f.text_field :profissao, :size => 60 %>
    </div>

    <div class="field">
      <%= f.label :cpf, 'CPF', :class => 'required' %>
      <%= f.text_field :cpf, :size => 14, :maxlength => 14 %>
    </div>

    <div class="field">
      <%= f.label :telefone_1, 'Telefone 1', :class => 'required' %>
      <%= f.text_field :telefone_1, :size => 14, :maxlength => 15 %>
    </div>

    <div class="field">
      <%= f.label :telefone_2 %>
      <%= f.text_field :telefone_2, :size => 14, :maxlength => 15 %>
    </div>

    <div class="field">
      <%= f.label :celular %>
      <%= f.text_field :celular, :size => 14, :maxlength => 15 %>
    </div>

    <div class="field">
      <%= f.label :data_nascimento, 'Data de nascimento', :class => :required %>
      <%= f.date_select :data_nascimento, :start_year => 1930 %>
    </div>

    <div class="field">
      <%= f.label :sexo, 'Sexo', :class => :required %>
      <%= f.select :sexo, ['Masculino', 'Feminino'] %>
    </div>

    <h1>Endereço de cobrança</h1>
    <div class="field">
      <%= f.label :cep, 'CEP', :class => 'required' %>
      <%= f.text_field :cep, :size => 8, :maxlength => 8 %>
    </div>

    <div class="field">
      <%= f.label :endereco,'Endereço', :class => 'required' %>
      <%= f.text_field :endereco, :size => 60 %>
    </div>

    <div class="field">
      <%= f.label :numero, 'Número' %>
      <%= f.text_field :numero, :size => 14, :maxlength => 14 %>
    </div>

    <div class="field">
      <%= f.label :complemento, 'Complemento' %>
      <%= f.text_field :complemento, :size => 60 %>
    </div>

    <div class="field">
      <%= f.label :bairro,'Bairro', :class => 'required' %>
      <%= f.text_field :bairro, :size => 60 %>
    </div>

    <div class="field">
      <%= f.label :cidade,'Cidade', :class => 'required' %>
      <%= f.text_field :cidade, :size => 60 %>
    </div>

    <div class="field">
      <%= f.label :estado,'Estado', :class => 'required' %>
      <%= f.text_field :estado, :size => 3, :maxlength => 2 %>
    </div>


    <h1>Endereço de entrega</h1>

    <div class="field">
    <%=check_box_tag :copiar %> <%= label_tag :copiar, 'Usar o mesmo da cobrança', :style => "display:inline;font-size:16px;font-weight:bold;" %>
    </div>

    <div class="field">
      <%= f.label :entrega_cep, 'CEP', :class => 'required' %>
      <%= f.text_field :entrega_cep, :size => 8, :maxlength => 8 %>
    </div>

    <div class="field">
      <%= f.label :entrega_endereco,'Endereço', :class => 'required' %>
      <%= f.text_field :entrega_endereco, :size => 60 %>
    </div>

    <div class="field">
      <%= f.label :entrega_numero, 'Número' %>
      <%= f.text_field :entrega_numero, :size => 14, :maxlength => 14 %>
    </div>

    <div class="field">
      <%= f.label :entrega_complemento, 'Complemento' %>
      <%= f.text_field :entrega_complemento, :size => 60 %>
    </div>

    <div class="field">
      <%= f.label :entrega_bairro,'Bairro', :class => 'required' %>
      <%= f.text_field :entrega_bairro, :size => 60 %>
    </div>

    <div class="field">
      <%= f.label :entrega_cidade,'Cidade', :class => 'required' %>
      <%= f.text_field :entrega_cidade, :size => 60 %>
    </div>

    <div class="field">
      <%= f.label :entrega_estado,'Estado', :class => 'required' %>
      <%= f.text_field :entrega_estado, :size => 3, :maxlength => 2 %>
    </div>




    <!-- <p class="submit"> -->
      <input type="submit" name="submitMessage" id="submitMessage" value="Efetuar pagamento" class="button_large" />
    <!-- </p> -->
  </fieldset>
<% end -%>

<%= javascript_include_tag 'jquery.maskedinput-1.3.min' %>

<script type="text/javascript">

$(function(){
  if($('#pedido_tipo_cliente_1').is(':checked')){
    $('#juridica').show()
  }

  $('#pedido_tipo_cliente_1').click(function(){
    $('#juridica').slideDown()
  })

  $('#pedido_tipo_cliente_0').click(function(){
    $('#juridica').slideUp()
  })

  $('#copiar').click(function(){
    if($(this).is(':checked')){
      var campos = ['cep','endereco','numero','complemento','bairro','cidade','estado']
      $.each(campos, function(index,value){
        $('#pedido_entrega_'+value).val($('#pedido_'+value).val())
      })
    }
    
  })

  $('#pedido_cpf').mask('999.999.999-99')
  $('#pedido_cnpj').mask('99.999.999/9999-99')
  $('#pedido_cep').mask('99999999')
  $('#pedido_entrega_cep').mask('99999999')
  $('#pedido_estado').mask('aa')
  $('#pedido_entrega_estado').mask('aa')
})
</script>