.box-list h3{
	text-align:center;
	background-color:#F0EEEF;
	padding:14px 0;
	margin-top:0 !important;
	font-size:12px !important;
}

.box-list em{
	font-style:italic;
	font-size:10px;
}

.box-list a{
	color:#000 !important;
}


#list-2-columns{
	width:750px;
}

	#list-2-columns .first{
		margin-left:0 !important;
	}
	
	#list-2-columns .box-list{
		margin-left:8px;
		margin-bottom:10px;
		float:left;
		width:370px;
	}
	#list-2-columns h3{
		padding:5px 0;
		padding-bottom:10px;
	}
	
	
	#list-2-columns #top-image{
		width:400px;
		float:left;
	}

	#list-2-columns #details{
		float:right;
		width:330px;
	}