#flash_notice, #flash_error, #flash_alert {
  padding: 10px;
  margin-bottom: 10px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


label.error{
/*	display: block;
  clear: left;*/
  text-align: left;
  background: url(/images/error.png) 5px 7px no-repeat;
  padding: 8px 10px 5px 25px;
	margin:0 !important;
  color: #ff2a2a;
}
input.error{
/*	background-color:#FCC !important;*/
	border:1px dashed #FCC !important;
}