#list-events{
/*	height:340px;*/
/*	margin-bottom:10px;*/
}

	#list-events .first{
		margin-left:0 !important;
	}
	
	#list-events .event-box{
		margin-left:18px;
		margin-bottom:10px;
		float:left;
		width:350px;
	}
	#list-events h3{
		padding:5px 0;
		padding-bottom:10px;
	}
	
	#list-events a{
		color:#000;
	}