#top-image{
	width:400px;
	float:left;
	text-align:center;
}

#details{
	float:right;
	width:330px;
}


#image-container{
	margin-top:20px;
/*	width: 600px;*/
/*	background-color:#c4c4c4;*/
/*	padding:10px;*/
/*	width:600px;*/
/*	text-align:center;*/
/*	border-top:5px solid #c4c4c4;*/
}
