body{
	background:url(/images/bg-top.jpg) repeat-x;
	background-position:0 46px;
/*	background-color:#FCFCFC;*/
}
p{
	margin:4px 0;
}
a,.like-link{
	color:#0066CC;
}
h1{
	font-size:26px;
	margin-top:10px;
	margin-bottom:15px;
}

h2{
	font-size:20px;
	margin-top:10px;
	margin-bottom:15px;
}

h3{
	font-size:16px;
/*	margin-top:10px;*/
/*	margin-bottom:15px;*/
}



strong {
	font-weight: bold;
}

.green{
	color:#0CB117;
}

.clean-blue{
	color:#3DDAFB;
}

.purpple{
	color:#C221AD;
}

.red{
	color:#EF090B;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container{
	width: 1010px;
	margin: 0 auto;
/*  background-color: #FFF;*/
  padding: 0px 4px;
}

#top-clear{
	height:36px;
	background:url(/images/top-clear.jpg) repeat-x;
	margin-bottom:10px;
}

#top{
	height: 175px;
	background:url(/images/bg-top.jpg) repeat-x;
}

	#logo{
		margin-left:12px;
		margin-top:8px;
		width:243px;
		height:127px;
		float:left;
	}
	
	#top-full-banner{
		float:left;
		margin-left: 15px;
		margin-top: 20px;
/*		border:1px solid #E8E8E8;*/
		width: 728px;
		height: 98px;
	}
	
	#top-menu{
		text-align:center;
	}
	
	#top-menu ul{
		list-style-type:none;
		margin: 0;
		margin-top:10px;
		padding: 0;
	}
	
	#top-menu ul li{
		display: inline;
		margin:0 11px;
	}
	
	#top-menu li.separator{
/*		width:3px;*/
		vertical-align:bottom;
	}
	#top-menu li.separator img{
		margin-top:4px;
	}
	
	#top-menu a{
		font-size:16px;
		font-family: Tahoma;
	}
	#top-menu a:hover{
		text-decoration:none;
	}
	
	#top-menu *{
		color:#747474;
	}
	
#top-toolbar{
	margin-top:10px;
	margin-bottom:10px;
}

	
	#search{
		float:left;
		width:320px;
	}
		#search input.submit{
			margin-left:5px;
		}
	
	#login-options{
		margin-top:6px;
		float:right;
	}
	
	
#top-3-banners{
	margin-left:7px;
	margin-top:10px;
	height: 130px;
	vertical-align:top;
}
	#top-3-banners div.first{
		margin-left:6px;
	}
	#top-3-banners div{
		float:left;
		margin-left:14px;
		width:318px;
		height:110px;
/*		border:1px solid #E8E8E8;*/
	}

#left-yield{
	float:left;
	width:752px;
	margin-left:7px;
}
	
	

#right-yield{
	float:right;
	width:230px;
	margin-right:7px;
}

	#right-yield .left-banner{
		margin-bottom:18px;
/*		border: 1px solid #E8E8E8;*/
		height: 250px;
	}

input.text,textarea.text{
	background-color:#F7F7F7;
	border: 1px solid #E8E8E8;
	padding:4px;
}

input.submit{
	background-color:#D6D6D6;
	border: 1px solid #D6D6D6;
	padding:4px;
}

.pagination{
	text-align: center;
	margin: 15px;
}

.pagination .disabled{
	color: #C4C4C4;
}

.pagination em.current{
	font-size:20px;
}


ul.disc{
	list-style-type:disc;
	margin-left:15px;
}

ul.disc li{
	margin:5px 0;
}

.pointer{
	cursor:pointer;
}




.form p{
	margin:10px 0;
	float:left;
	width: 350px;
}


.form label{
	display:block;
	margin:5px 0;
}

.form input.text, .form textarea.text{
	width:300px;
	padding: 8px;
}

.form .submit{
	padding: 8px;
}

th{
	padding:10px;
}

td{
	padding:4px;
}

th, td{
	vertical-align:middle;
}
table th{
/*	width:100%;*/
	background-color:#F0EEEF;
}