#list-news{
/*	height:340px;*/
/*	margin-bottom:10px;*/
	width:750px;
}

	#list-news .first{
		margin-left:0 !important;
	}
	
	#list-news .news-box{
		margin-left:8px;
		margin-bottom:10px;
		float:left;
		width:370px;
	}
	#list-news h3{
		padding:5px 0;
		padding-bottom:10px;
	}
	
	#list-news a{
		color:#000;
	}