<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Café Gourmet Brasil</title>
	<%=stylesheet_link_tag 'layout' %>
	<!--[if lt IE 9]>
	<%=stylesheet_link_tag 'ie' %>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%=javascript_include_tag 'jquery.min',
	'jquery-ui.min',
	'jquery_ujs',
	'jquery.flash',
	'hideshow',
	'jquery.validate.min',
  'frontend/jquery.tag',
  'maskMoney',
  'application'
	 %>
	 
	 <%= javascript_include_tiny_mce_if_used %>
   <%= tiny_mce if using_tiny_mce? %>
	 <%=yield(:head)%>
	<%= csrf_meta_tag %>
</head>

<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title"><%=link_to 'Café Gourmet Brasil', admin_root_path %></h1>
			<h2 class="section_title"><%=yield(:title) if content_for?(:title)%></h2>
			<div class="btn_view_site"><%=link_to 'Ir para o site', root_path, :target => '_blank' %></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
	<section id="secondary_bar">
		<div class="user">
		  <p><%=current_user.nome%></p>
		</div>
		<% if content_for?(:breadcrumb)%>
    <div class="breadcrumbs_container">
      <article class="breadcrumbs"><%=yield(:breadcrumb)%></article>
    </div>
    <% end %>
	</section><!-- end of secondary bar -->
	
	<aside id="sidebar" class="column">
    <form class="quick_search">
      <input type="text" value="Busca rápida de produtos" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
    </form>
    <hr />
	  
		<h3>Cadastros</h3>
		<ul class="toggle">
		  <li class="icn_tags"><%=link_to 'Produtos', admin_produtos_path %></li>
      <li class="icn_categories"><%=link_to 'Categorias de produtos', admin_categorias_path %></li>
		  <li class="icn_categories"><%=link_to 'Parâmetros', edit_admin_parametro_path(:atual) %></li>
		  
		  <li class="icn_view_users"><%=link_to 'Central de vendas', admin_pedidos_path %></li>
      <li class="icn_photo"><%=link_to 'Banners', admin_banners_path %></li>
		  <li class="icn_photo"><%=link_to 'Galerias', admin_galerias_path %></li>
		  <li class="icn_new_article"><%=link_to 'Páginas', admin_paginas_path %></li>
		  
		  <li class="icn_jump_back"><%=link_to 'Sair', admin_logout_path %></li>
		</ul>
		
		
		<footer>
			<hr />
			<p><strong>Copyright &copy; 2012 Café Gourmet</strong></p>
			<p>Desenvolvido por <a href="http://www.agenciainvent.com.br" target="_blank">Invent</a></p>
		</footer>
	</aside><!-- end of sidebar -->
	
	<section id="main" class="column">
	  <%=flash_messages%>
		<%= yield %>
		<div class="spacer"></div>
	</section>
  <script type="text/javascript">
  function equalHeight(group) {
  	var tallest = 0;
  	group.each(function() {
  		var thisHeight = $(this).height();
  		if(thisHeight > tallest) {
  			tallest = thisHeight;
  		}
  	});
  	group.height(tallest);
  }
  
  $(document).ready(function(){ 
    // $(".tablesorter").tablesorter(); 

    //When page loads...
    $(".tab_content").hide(); //Hide all content
    $("ul.tabs li:first").addClass("active").show(); //Activate first tab
    $(".tab_content:first").show(); //Show first tab content

    //On Click Event
    $("ul.tabs li").click(function() {

      $("ul.tabs li").removeClass("active"); //Remove any "active" class
      $(this).addClass("active"); //Add "active" class to selected tab
      $(".tab_content").hide(); //Hide all tab content

      var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
      $(activeTab).fadeIn(); //Fade in the active ID content
      return false;
    });
    
    equalHeight($('.column'));

  });

  </script>
</body>
</html>
