<!DOCTYPE html>
<html>
  <head>
    <title>Café Gourmet Brasil</title>
    <%= stylesheet_link_tag "login" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if content_for?(:title) %>
      <%= yield %>
    </div>
  </body>
</html>
