<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>Café Gourmet Brasil</title>
  <%= csrf_meta_tag %>
  <style type="text/css">
  *{
    font-family: verdana,arial;
    font-size: 12px;
    color: #000;
  }
  table{
    border-collapse: collapse;
    border: 1px solid #000;
  }

  th{
    background-color: #f4f4f4
  }
  </style>
</head>

<body>
  <%= yield %>
</body>
</html>
