<!-- Breadcrumb -->
<div class="breadcrumb">
  <div class="breadcrumb_inner">
    <%= link_to 'Início', root_path %><span class="navigation-pipe">&gt;</span><span class="navigation_end">Fale conosco</span>
  </div>
</div>
<!-- /Breadcrumb -->

<h1>Fale conosco</h1>
<p>

</p>
<p class="bold">
  Entre em contato conosco para obter mais informações. Envie-nos um email para 
  <%= mail_to 'fale_conosco@cafegourmetbrasil.com' %>, por telefone/fax 5 (33) 3322-4612 ou indo até nós: 
  Rodovia MG 425 s/n Km 9 - Corrego São Silvestre, Caratinga-MG 
</p>
<%= form_tag enviar_contato_path, :class => 'std', :method => :post do %>
  <fieldset>
    <h3>Formulário de contao</h3>
    <p class="select">
      <label for="assunto">Assunto</label>
      <%= select_tag :assunto, options_for_select(['Informações','Pedidos','Outros'], params[:assunto]) %>
    </p>

    <p class="text">
      <label for="email">Seu nome</label>
      <%= text_field_tag :nome, params[:nome] %>
    </p>
    <p class="text">
      <label for="email">E-mail</label>
      <%= text_field_tag :email, params[:email] %>
    </p>
    <p class="text">
      <label for="pedido">Pedido</label>
      <%= text_field_tag :pedido, params[:pedido] %>
    </p>
    <p class="textarea">
      <label for="mensagem">Mensagem</label>
      <%= text_area_tag :mensagem, params[:mensagem], :rows => 5, :cols => 50 %>
    </p>
    <p class="submit">
      <input type="submit" name="submitMessage" id="submitMessage" value="Enviar" class="button_large" />
    </p>
  </fieldset>
<% end -%>
