<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
<div class="module_content">
  <%- attributes.each do |attribute| -%>
  <fieldset>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  </fieldset>
  <%- end -%>
</div>
<footer>
  <div class="submit_link">
    <%%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<%% end %>
