<%
title 'Lista de produtos'
breadcrumbs([
  {:text => 'Lista de produtos'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de produtos </h3>
    
  </header>
  <%=button_new('Criar produto',new_admin_produto_path)%>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Nome</th> 
        <th class="header">Categoria</th> 
        <th class="header">Valor</th>
        <th class="header">Ativo?</th>  
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @admin_produtos.each do |admin_produto| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= admin_produto.nome %></td> 
        <td><%= admin_produto.categoria.nome %></td> 
        <td><%= admin_produto.valor.real %></td>
        <td><%= admin_produto.ativo ? 'Sim' : 'Não' %></td> 
        <td><%= actions_common(admin_produto)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
</article>
