<p id="notice"><%= notice %></p>

<p>
  <b>Categoria:</b>
  <%= @admin_produto.categoria %>
</p>

<p>
  <b>Nome:</b>
  <%= @admin_produto.nome %>
</p>

<p>
  <b>Codigo interno:</b>
  <%= @admin_produto.codigo_interno %>
</p>

<p>
  <b>Descricao:</b>
  <%= @admin_produto.descricao %>
</p>

<p>
  <b>Video:</b>
  <%= @admin_produto.video %>
</p>

<p>
  <b>Capa:</b>
  <%= @admin_produto.capa %>
</p>

<p>
  <b>Valor:</b>
  <%= @admin_produto.valor %>
</p>

<p>
  <b>Valor promocional:</b>
  <%= @admin_produto.valor_promocional %>
</p>

<p>
  <b>Ativo:</b>
  <%= @admin_produto.ativo %>
</p>

<p>
  <b>Destaque inicial:</b>
  <%= @admin_produto.destaque_inicial %>
</p>


<%= link_to 'Edit', edit_admin_produto_path(@admin_produto) %> |
<%= link_to 'Back', admin_produtos_path %>
