<h1>Listing admin_imagem_produtos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_imagem_produtos.each do |admin_imagem_produto| %>
  <tr>
    <td><%= link_to 'Show', admin_imagem_produto %></td>
    <td><%= link_to 'Edit', edit_admin_imagem_produto_path(admin_imagem_produto) %></td>
    <td><%= link_to 'Destroy', admin_imagem_produto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Imagem produto', new_admin_imagem_produto_path %>
