<%= simple_form_for([:admin,@admin_pagina]) do |f| %>
<div class="module_content">
  <fieldset>
    <%= f.input :titulo %>
  </fieldset>
  <fieldset>
  	<%= f.label :conteudo %>
  </fieldset>
  <%= f.text_area :conteudo, :rows => 15, :cols => '100%', :class => 'mceEditor' %>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>
