<%
title 'páginas - Alterando página'
breadcrumbs([
  {:text => 'páginas', :url => admin_paginas_path},
  {:text => 'Alterando página'},
])
%>
<article class="module width_full">
  <header><h3>Alterando página</h3></header>
  <%= render 'form' %>
</article>
