<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @admin_pagina.titulo %>
</p>

<p>
  <b>Conteudo:</b>
  <%= @admin_pagina.conteudo %>
</p>


<%= link_to 'Edit', edit_admin_pagina_path(@admin_pagina) %> |
<%= link_to 'Back', admin_paginas_path %>
