<%
title 'Lista de categorias'
breadcrumbs([
  {:text => 'Lista de categorias'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de categorias </h3>
    
  </header>
  <%=button_new('Criar categoria',new_admin_categoria_path)%>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Nome</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @admin_categorias.each do |admin_categoria| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= admin_categoria.nome %></td> 
        <td><%= actions_common(admin_categoria)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @admin_categorias%>
</article>
