<%
title 'categorias - Nova categoria'
breadcrumbs([
  {:text => 'categorias', :url => admin_categorias_path},
  {:text => 'Nova categoria'},
])
%>
<article class="module width_full">
  <header><h3>Nova categoria</h3></header>
  <%= render 'form' %>
</article>
