<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @admin_categoria.nome %>
</p>


<%= link_to 'Edit', edit_admin_categoria_path(@admin_categoria) %> |
<%= link_to 'Back', admin_categorias_path %>
