<form action="<%= PagSeguro.gateway_url %>" class="pagseguro" method="post">
  <div>
    <%= hidden_field_tag "encoding", "UTF-8"  %>
    <%= hidden_field_tag "email_cobranca", options.fetch(:email, PagSeguro.config["email"])  %>
    <%= hidden_field_tag "tipo", "CP" %>
    <%= hidden_field_tag "moeda", "BRL" %>
    <%= hidden_field_tag "ref_transacao", order.id %>
    <%= hidden_field_tag "extra_amount", (taxa_embalagem.to_f * 100).to_i %> 
    <%= hidden_field_tag "tipo_frete", order.shipping_type if order.shipping_type %>

    <% order.products.each_with_index do |product, i| %>
      <% i += 1 %>
      <%= hidden_field_tag "item_quant_#{i}", product[:quantity] %>
      <%= hidden_field_tag "item_id_#{i}", product[:id] %>
      <%= hidden_field_tag "item_descr_#{i}", product[:description] %>
      <%= hidden_field_tag "item_valor_#{i}", product[:price] %>
      <%= hidden_field_tag "item_peso_#{i}", product[:weight].to_i if product[:weight] %>
      <%= hidden_field_tag "item_frete_#{i}", product[:shipping].to_i if product[:shipping] %>
    <% end %>

    <% order.billing.each do |name, value| %>
      <%= hidden_field_tag PagSeguro::Order::BILLING_MAPPING[name.to_sym], value %>
    <% end %>

    <%= submit_tag options[:submit] %>
  </div>
</form>