<!DOCTYPE html>
<html>
  <head>
    <title>Café Gourmet Brasil<%=" - #{yield(:title)}" if content_for?(:title)%></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag 'global' %>
    <%=javascript_include_tag 'jquery.min',
   	'jquery-ui.min',
   	'jquery_ujs',
    'jquery.easing.1.3',
    'jquery.nivo.slider.pack',
    'tools'
     %>
    <link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body id="index">
<!--[if lt IE 7]><div style='clear:both;text-align:center;position:relative;'><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->
<div id="wrapper1">

<div id="wrapper2">

<div id="wrapper3">
	<!-- Header -->
	<div id="header">
		<a id="header_logo" href="/" title="Cafe Gourmet">
			<%= image_tag "logo.png", :alt => "Cafe Gourmet" %>
		</a>
		<div id="header_right">
			<!-- Block search module TOP -->
			<div id="search_block_top">
				<%= form_tag produtos_path, :method => :get, :id => "searchbox" do %>
					<label>Buscar:</label>
					<input class="search_query" type="text" id="search_query_top" name="q" value="" />
					<a href="javascript:;" onclick="$('#searchbox').submit();">Buscar!</a>
				<% end %>
			</div>
			
			<!-- /Block currencies module --><!-- Block user information module HEADER -->
			<div id="header_user">
			<ul>
				<li id="header_user_info">Seja bem-vindo(a)</li>
				<li id="your_account"><%= link_to "Seu carrinho", carrinho_path, :title => "Seu carrinho de compras" %></li>
				<li id="shopping_cart">
					<%= link_to content_tag(:span, carrinho_usuario.sum{|t| t[:qtd]}, :class => "ajax_cart_no_product").html_safe, carrinho_path, :title => "Seu carrinho de compras" %>
				</li>
			</ul>
			</div>
			<!-- /Block user information module HEADER -->
			<%= header_links %>
			<!-- piscesslider -->
			
			<% if current_page?(root_path) %>
			<%= javascript_include_tag "jquery.nivo.slider.pack" %>
			<div id="slide_wrapper">

				<div id="slide_holder"> 	

					<div id="slider">
						<% Banner.all.each do |banner|%>
						  
						  <a href='<%= banner.url %>' target="_blank"><img src='<%= banner.imagem.url(:medium, false) %>' alt="" title="" /></a>
						<% end %>
					</div>

				</div>

			</div>

			<script type="text/javascript">

			$(window).load(function() {

				$('#slider').nivoSlider({

					effect:'fold', //Specify sets like: 'fold,fade,sliceDown'

					slices:9,

					animSpeed:500, //Slide transition speed

					pauseTime:5000,

					startSlide:0, //Set starting Slide (0 index)

					directionNav:true, //Next & Prev

					directionNavHide:false, //Only show on hover

					controlNav:false, //1,2,3...

					controlNavThumbs:false, //Use thumbnails for Control Nav

						controlNavThumbsFromRel:false, //Use image rel for thumbs

					controlNavThumbsSearch: '.jpg', //Replace this with...

					controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src

					keyboardNav:true, //Use left & right arrows

					pauseOnHover:true, //Stop animation while hovering

					manualAdvance:false, //Force manual transitions

					captionOpacity:0.8, //Universal caption opacity

					beforeChange: function(){},

					afterChange: function(){},

					slideshowEnd: function(){} //Triggers after all slides have been shown

				});

			});

			</script>
			<!-- /piscesslider -->
			<% end -%>


      <% if controller_name == 'home' %>
			<!-- Module Editorial -->
			<div id="editorial">
				<div>
							 
				<h1>Nossos produtos</h1>
					
					<div class="clearblock"></div>
				</div>
			</div>
			<!-- /Module Editorial -->
			<% end -%>

		</div>
	</div>
	
	<%= flash_messages_front %>
	
	<div id="columns">
	  
<!-- Center -->
		<div id="center_column" class="center_column">
		  
		  
		  
      <%=yield%>
    </div>
      <div id="right_column" class="column"><script type="text/javascript">
var CUSTOMIZE_TEXTFIELD = 1;
var customizationIdMessage = 'Customization #';
var removingLinkText = 'remover este produto do carrinho';
</script>
<!-- MODULE Block cart -->
<div id="cart_block" class="block exclusive">
	<h4>
	  <%= link_to 'Carrinho', carrinho_path %>
	</h4>
	<div class="block_content">
		<div id="cart_block_list" class="expanded">
		  <% if carrinho_usuario.empty? -%>
		  <p id="cart_block_no_products">Sem produtos</p>
			<div class="cart-prices">
				<div class="cart-prices-block">
					<span>Total</span>
					<span id="cart_block_total" class="price ajax_block_cart_total">R$ 0,00</span>
				</div>
			</div>  
		  <% else -%>
		  <dl class="products">
		    <% carrinho_usuario.each do |item_carrinho_usuario| -%>
		    <dt class="first_item last_item" id="cart_block_product_<%=item_carrinho_usuario[:id]%>" style="display: block; ">
					<span class="quantity-formated"><span class="quantity"><%=item_carrinho_usuario[:qtd]%></span>x</span><%= link_to nome_produto(item_carrinho_usuario[:id]), produto_path(item_carrinho_usuario[:id]) %>
					<span class="remove_link"><a rel="nofollow" href="http://livedemo00.template-help.com/prestashop_36159/cart.php?delete&amp;id_product=3&amp;token=36f564df6bcf6ad407932f511d70e259"> </a></span>
					<span class="price"><%= item_carrinho_usuario[:valor].real_contabil %></span>
				</dt>
		    <% end -%>
				
			</dl>
			
			<p id="cart-price-precisions">
				Valores de entrega não estão calculados
			</p>
			<p id="cart-buttons">
				<a href="<%= carrinho_path %>" class="button_mini" title="Carrinho" style="float:left">Carrinho</a>
			</p>
		  <% end -%>
			
		</div>
	
	</div>
</div>
<!-- /MODULE Block cart --><!-- MODULE TM best sellers -->
<div id="tmbestsellers" class="block">
	<h4><a href="#">Veja também</a></h4>
	<div class="block_content">
			<ul>
			<% Produto.antigos.limit(10).all.each_with_index do |produto,i| %>
			  <%= content_tag(:li, (content_tag(:span, sprintf("%02d. ",i+1))+link_to(produto.nome, produto_path(produto), :title => produto.nome)).html_safe) %>
		  <% end -%>
			</ul>
		</div>
</div>
<!-- /MODULE TM best sellers --></div>

		<div class="clearblock"></div>

	</div>

<!-- Footer -->

	<div id="footer">

		<div id="tmfooterlinks">
		
		<% footer_links_grouped.each do |grouped| %>
		<div>
			<ul>
				<% grouped.each do |link| %>
				<li><%=link_to link[:texto], link[:url] %></li>
				<% end -%>
			</ul>
		</div>		
		<% end -%>

		<p>
			<div style="float:left; padding:0; padding-bottom: 20px; padding-top:10px; width: auto">
			Gourmet Brasil Produtos Especiais LTDA<br />
			Rodovia MG 425 s/n Km 9 - Corrego São Silvestre, Caratinga-MG
			<br />
			Tel/Fax: 5 (33) 3322-4612 - 
			fale_conosco@cafegourmetbrasil.com
			</div>
			
			<div style="float:right; padding:0; padding-bottom: 5px; padding-top:10px; width: auto">
				&copy; <a href="mailto:rodrigo@rtoledo.inf.br">Rodrigo Toledo</a>&trade;
			</div>
		</p>

</div>

		<!-- [[%FOOTER_LINK]] -->	</div>

</div>

</div>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34953097-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
